        AQUAS.meta
        AQUAS/
        Auto_attack 1.png
        Auto_attack 1.png.meta
        DemoAssets.meta
        DemoAssets/
        Detail.png
        Detail.png.meta
        Editor.meta
        Editor/
        Gaia.meta
        Gaia/
        GeNa.meta
        GeNa/
        GettingStartedGuide.pdf
        GettingStartedGuide.pdf.meta
        InstallationGuide.txt
        InstallationGuide.txt.meta
        Models.meta
        Models/
        Plugins.meta
        Plugins/
        PostProcessing.meta
        PostProcessing/
        Props Animations.meta
        Props Animations/
        Quantum Theory.meta
        Quantum Theory/
        RPGAIO.meta
        RPGAIO/
        ReadThisFirstGuide.pdf
        ReadThisFirstGuide.pdf.meta
        Resources.meta
        Resources/
        Scenes.meta
        Scenes/
        Screenshots.meta
        Shade.png
        Shade.png.meta
        Stamps.meta
        Stamps/
        Standard Assets.meta
        Standard Assets/
        TSF.meta
        TSF/
        Templates.meta
        Templates/
        Terrain.meta
        Terrain/
        Terrain_0_0-20180423-222208.asset
        Terrain_0_0-20180423-222208.asset.meta
        azure[Sky]v3.meta
        azure[Sky]v3/
        logo.png
        logo.png.meta
        mcs.rsp
        mcs.rsp.meta
        smcs.rsp
        smcs.rsp.meta
